.div-contate {
  display: flex;
  width: 196px;
  height: 47px;
  border-radius: 24px;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  strong {
    display: flex;
    color: #393E46;
    font-size: 18px;
    font-family: "Poppins", Bold;
    font-weight: 600;
    font-style: normal;
  }
}

.div-download {
  display: flex;
  width: 223px;
  height: 47px;
  border-radius: 24px;
  background-color: #393E46;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  strong {
    margin-right: 10px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', Bold;
    font-weight: 600;
    font-style: normal;
  }
}

@media screen and (max-width: 1024px) {
  .div-contate, .div-download {
    width: 100%; /* Ajusta a largura para 100% */
    height: auto; /* Ajusta a altura automaticamente */
    margin: 10px 0; /* Adiciona margem vertical */

    a {
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    strong {
      font-size: 14px; /* Ajusta o tamanho da fonte */
    }
  }
}

@media screen and (max-width: 768px) {
  .div-contate, .div-download {
    width: 100%; /* Ajusta a largura para 100% */
    height: auto; /* Ajusta a altura automaticamente */
    margin: 10px 0; /* Adiciona margem vertical */

    a {
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    strong {
      font-size: 12px !important; /* Ajusta o tamanho da fonte */
    }
  }

  .div-contate strong {
    color: #393E46; /* Mantém a cor específica da div-contate */
  }

  .div-download strong {
    color: white; /* Mantém a cor específica da div-download */
  }
}

@media screen and (max-width: 480px) {
  .div-contate, .div-download {
    width: 100%; /* Ajusta a largura para 100% */
    height: auto; /* Ajusta a altura automaticamente */
    margin: 10px 0; /* Adiciona margem vertical */

    a {
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    strong {
      font-size: 10px !important; /* Ajusta o tamanho da fonte */
    }

    .div-contate strong {
      color: #393E46; /* Mantém a cor específica da div-contate */
    }

    .div-download strong {
      color: white; /* Mantém a cor específica da div-download */
    }
  }
}
