<div class="div-sobre">
  <div class="div-sobre-text">

    <h1>Sobre min</h1>
    <p>
      Sou um entusiasta de Engenharia de Software com uma paixão por aprender novos métodos e tecnologias. Meu foco é aplicar meu conhecimento teórico em projetos práticos. Possuo experiência profissional em automação de processos e estou sempre em busca de expandir meus horizontes na programação, tenho desenvolvido projetos acadêmicos que me permitem aplicar minhas habilidades em situações do mundo real.
    </p>
  </div>
  <div class="div-image">
    <img
      src="../../../../../assets/img/IMG_20241218_105212.jpg"
      width="200px"
      height="200px"
      style="border:2px solid white; border-radius: 7px;"
      />

  </div>
