.div-sobre{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  width: 900px;
  height: 500px;
  gap:200px;

  .div-sobre-text{
    display: flex;
    justify-content: right;
    align-items: self-start;

    flex-direction: column;
    width: 650px;
    height: 350px;

    h1{
      color: white;
      font-size: 64px;
      font-family: "Poppins", Bold;
      font-weight: 700;
      font-style: normal;
      line-height: 1;
      margin: 0;
    }
    p{
      color: white;
      text-align: left;
      font-size: 18px;
      font-family: "Poppins", Mixed;
      font-weight: 300;
      font-style: normal;
      line-height: 1;
      margin: 0;
    }

  .div-image{
    display: flex;
    justify-content: center;
  }
}
}
