<aside>
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="../../../../../assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a Href="https://www.linkedin.com/in/guilherme-martins-lorenzini/" target="_blank" class="btn btn-secundary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img src="../../../../../assets/icons/whatsapp.svg" alt="Icone para contato whatsApp" width="22px" height="24px"/>
        <figcaption>
          <a href="https://wa.me/554195008281?text=Tenho%20interesse%20em%20comprar%20seu%20carro"
              target="_black">
          <strong>Envie uma menssagem para:</strong>
          <p>WhatsApp: (41)935008281</p>
        </a>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/icons/whatsapp.svg" alt="Icone para contato whatsApp" width="22px" height="24px"/>
        <figcaption>
          <a href="mailto:guimsl2004@gmail.com"
              target="_black">
          <strong>Enviar um e-mail</strong>
        </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
