<div class="container">
 
  <section class="section-1">
    <figure>
      <img src="../../../../../assets/icons/icons8-linkedin.svg" alt="Icone para linkedin" />
      <figcaption>
        <a Href="https://www.linkedin.com/in/guilherme-martins-lorenzini/" target="_blank" class="btn btn-secundary">
          LinkedIn
        </a>
      </figcaption>
    </figure>
  </section>
  <section class="section-2">
    <figure>
      <img src="../../../../../assets/icons/mail.svg" alt="Icone para contato email" />
      <figcaption>
        <a href="mailto:guimsl2004@gmail.com"
            target="_black">
        <strong>Enviar um e-mail</strong>
      </a>
      </figcaption>
    </figure>
  </section>
</div>

