<div class="container">
  <nav>
    <ul>

      <li>
        <a Href="https://www.linkedin.com/in/guilherme-martins-lorenzini/" target="_blank" class="btn btn-secundary">
          LinkedIn
        </a>
      </li>
    </ul>
  </nav>
  <section>
    <figure>
      <img src="../../../../../assets/icons/whatsapp.svg" alt="Icone para contato email" width="22px" height="24px"/>
      <figcaption>
        <a href="mailto:guimsl2004@gmail.com"
            target="_black">
        <strong>Enviar um e-mail</strong>
      </a>
      </figcaption>
    </figure>
  </section>
</div>

