
<div class="container">
  <section>

    <ul>
      <li>
        <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
          Download CV
        </a>
      </li>
    </ul>
    <figure>
      <img src="../../../../../assets/icons/whatsapp.svg" alt="Icone para contato whatsApp" width="22px" height="24px" style="color: black;"/>
      <figcaption>
        <a href="https://wa.me/554195008281?text=Tenho%20interesse%20em%20comprar%20seu%20carro"
            target="_black">
        <strong>Envie uma menssagem para:</strong>
        <p>WhatsApp: (41)935008281</p>
      </a>
      </figcaption>
    </figure>
  </section>


</div>
<app-sobre/>
