<div class="container">

  <div class="section-1">
    <div class="div-cima">
      <h1 style="color: #393E46;;">Desenvolvedor</h1>
      <h1>Full-stack</h1>
    </div>
    <div class="div-baixo">
      <div class="div-botoes">
        <app-botoes-comeco
        link="https://wa.me/554195008281?text=Tenho%20interesse%20em%20comprar%20seu%20carro"
        textoBotao="Contrate-me"
        cssBotao="div-contate"></app-botoes-comeco>
        <app-botoes-comeco
        link="assets/pdf/cv.pdf"
        textoBotao="Download CV"
        cssBotao="div-download"
        path="../../../../../assets/icons/download.svg"></app-botoes-comeco>
      </div>
      <div class="logo">
        <img src="../../../../../assets/img/Logo soluções em técnico de informática azul e verde água (1) 1.png" alt="Logo" />
      </div>
    </div>
    <div class="div-ir-para-sobre">
      <a href="#sobre">
        <img src="../../../../../assets/icons/chevron-down.svg" alt="Ir para sobre" width="60" height="60"/>
      </a>
    </div>
  </div>

  <div class="section-2" id="sobre">
    <div class="div-sobre">
      <div class="div-sobre-text">

        <h1>Sobre min</h1>
        <p>
          Sou um entusiasta de Engenharia de Software com uma paixão por aprender novos métodos e tecnologias. Meu foco é aplicar meu conhecimento teórico em projetos práticos. Possuo experiência profissional em automação de processos e estou sempre em busca de expandir meus horizontes na programação, tenho desenvolvido projetos acadêmicos que me permitem aplicar minhas habilidades em situações do mundo real.
        </p>
      </div>
      <div class="div-image">
        <img src="../../../../../assets/img/IMG_20241218_105212.jpg" width="200px" height="200px"/>

      </div>
    </div>



    @defer(on viewport){
      <app-projetos></app-projetos>
    }@placeholder {
      <section>
        <h2>Carregando projetos...</h2>
      </section>
    }@error {
      <section>
        <h2>Ocorreu um erro no carregamento</h2>
      </section>
    }


  </div>
</div>


