
.container{
  display: flex;
  flex-direction: column;
  height:2034px;
  width: auto;
  background-image: url('../../../../../assets/img/backgrund.png');
  background-repeat: no-repeat; /* Adicionado para evitar repetição */
  background-size: cover; /* Adicionado para ajustar o tamanho da imagem ao container */
  .section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2px;
    width: auto;
    height:720px;

    .div-cima{

      display: flex;
      height:192px;
      width: auto;
      align-items: initial;
      margin-right: 361px;
      flex-direction: column;
      margin-top: 204px;
      h1{
        color: white;
        font-size: 96px;
        font-family: "Poppins", Bold;
        font-weight: 700;
        font-style: normal;
        line-height: 1;
        margin: 0;
      }
    }
    .div-baixo{
      display: flex;
      flex-direction: row;
      align-items: initial;
      gap:179px;
      justify-content: center;

    }
    .div-botoes{
      display: flex;
      flex-direction: row;
      gap:24px;
      justify-content: center;
      align-items: center;
    }
    .div-ir-para-sobre{
      display: flex;
      justify-content: center;
      margin-top: 111px;
    }
  }
  .section-2{
    display: flex;
    background-color: blue;
    align-items: center;
  }
}


