.container{
  background-color: black;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .section-1{
    display: flex;
    figure{
      display: flex;
      justify-content: center;
      align-items: center;
      img{

        width: 25px;
        height: 25px;
        margin: 0 10px;
      }
      a{
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        font-family: "Poppins", Bold;
        font-weight: 700;
        font-style: normal;
      }
    }
  }
  .section-2{
    display: flex;
    figure{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 25px;
        height: 25px;
        margin: 0 10px;
      }
      a{
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        font-family: "Poppins", Bold;
        font-weight: 700;
        font-style: normal;
      }
    }
  }

}
