<header>
  <div class="container-header">
    <div class="container-header-title">
      <h2>Lorenzini Dev</h2>
    </div>
    <div class="container-header-links">
      <!--<p style="color: #fff;">{{ 'pages.translate.text.title'| translate }}</p>-->
      <img [src]="selectedIcon" alt="Brasil" style="width: 20px; height: 20px;"/>
      <select class="language-selector" [(ngModel)]="selectedLanguage" (change)="changeLanguage($event)">
        <option value="pt-br">Português</option>
        <option value="en">English</option>
      </select>

      <a href="#home" (click)="navigateToSection('home', $event)">Home</a>
      <a href="#sobre" (click)="navigateToSection('sobre',$event)">Sobre mim</a>
      <a href="#flooter" (click)="navigateToSection('flooter',$event)">Contato</a>
    </div>
  </div>

</header>

