.container-header{
  margin-top: 48;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.container-header-title {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 96px;
  margin-top: 48;
  h2 {
    color: white;
  }
}
.container-header-links {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-right: 96px;
  margin-top: 48;
  gap:48px;
  a {
    color:white;
  }
  .language-selector {
    appearance: none; /* Remove estilos padrão do select */
    -webkit-appearance: none; /* Para Safari */
    -moz-appearance: none; /* Para Firefox */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") no-repeat right 5px center; /* Adiciona seta */
    padding: 5px 25px 5px 10px; /* Ajusta padding para a seta */
    border: 1px solid #ccc; /* Estilo de borda */
    border-radius: 4px; /* Borda arredondada */
    font-size: 16px;
    background-color: #222; /* Cor de fundo */
    color: #fff;
  }

  .language-selector option {
    /* Estilos para as opções (limitado) */
    font-size: 16px;
    padding: 5px; /* Algum padding */
  }

  /* Estilos para o ícone DENTRO da opção (muito limitado, funciona em alguns navegadores) */
  .language-selector option img {
    vertical-align: middle; /* Alinha verticalmente */
    margin-right: 5px;  /* Espaçamento */
  }

}
